* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container-1 {
  background-color: #2d2d2d;
  justify-content: space-between;
  display: flex;
  align-items: center;
  align-self: center;
  color: white;
  max-height: 72px;
}

nav {
  font-family: "Overpass", serif;
  letter-spacing: 0.025em;
  display: flex;
  align-items: center;
}

.elevenFiftyTitle {
  display: flex;
  padding-top: 5px;
  line-height: 1;
  align-items: center;
  align-items: flex-start;
  margin: 20px;
  font-size: 20px;
  font-family: "Crimson Text", serif;
  cursor: pointer;
}

.leftNav {
  display: flex;
}

.navbar-items {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  font-family: "Overpass", serif;
}

ul {
  list-style: none;
  cursor: pointer;
}

li {
  padding: 20px 20px;
  line-height: 32px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.ef-nav-logo {
  display: flex;
  cursor: pointer;
  max-width: 72px;
}

.video-sec {
  background: black;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.video-sec video {
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.black-box{
  position:absolute;
}


.course-info {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0.2em;
}

.course-info h1 {
  color: #348db9;
  font-weight: bolder;
  font-family: "overpass";
  font-size: 60px;
}

.course-cards-flex {
  margin: 0;
  justify-content: center;
  display: flex;
}

.searchICON {
  padding-top: 30px;
}

.redApplyBtn {
  background-color: #e33e42;
  border-left: white solid 4px;
  align-items: center;
}

.blueSchBtn {
  background: #338cb8;
  border-left: white solid 4px;
  align-items: center;
}
