* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  font-family: "Overpass", serif;
  width: 100%;
  letter-spacing: 0.025em;
  position: fixed;
  background-color: #2d2d2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  max-height: 72px;
  z-index: 1000;
}
.leftNav {
  align-items: flex-start;
  display: flex;
}

.elevenFiftyTitle {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  font-family: "Crimson Text", serif;
  cursor: pointer;
}

.navbar-items {
  display: flex;
  line-height: 72px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: "Overpass", serif;
}

ul {
  list-style: none;
  cursor: pointer;
}

li {
  padding-left: 16px;
  padding-right: 16px;
}

li:hover {
  background-color: black;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.leftNavBGC {
  display: flex;
  width: 72px;
  height: 72px;
  background-color: #e33e42;
  align-items: center;
}

.ef-nav-logo {
  display: block;
  height: 46px;
  width: 33px;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}

.leftNavBGC:hover {
  transition: 0.3s;
  transition-timing-function: linear;
  background-color: rgb(186 29 34);
}

.video-sec {
  background: black;
  max-width: 100%;
  max-height: 100%;
  display: flex;
}

.video-sec video {
  min-width: 100%;
  min-height: 100%;
  display: flex;
}

.course-section {
  font-family: "overpass";
  background-color: #efefef;
  padding-top: 85px;
  padding-bottom: 85px;
}

.course-info {
  text-align: center;
  background-color: #efefef;
  margin-top: auto;
  font-size: 60px;
  color: #348db9;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  align-items: stretch;
}

.card {
  display: flex;
  justify-content: center;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 21px;
  line-height: 31.5px;
  width: 380px;
  height: 418.65px;
  margin-right: 1.3%;
  border: white;
  background-color: white;
  flex-direction: column;
  position: relative;
}

.card p {
  font-size: 21px;
  color: #676767;
  letter-spacing: 0.025em;
  margin: 0 0 1.75em;
  line-height: 1.4;
  padding: 0;
}

.card h2 {
  display: block;
  padding: 0;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: 800;
  line-height: 1.1;
  font-size: 32px;
  margin: 0 0 0.65em;
  font-family: "Overpass", serif;
}

.red-button {
  font-family: "overpass", serif;
  font: 21px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: white;
  background-color: #e33e42;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 52.5px;
  line-height: 31.5px;
  position: absolute;
}

.searchICON {
  align-items: center;
  pointer-events: none;
}

.redApplyBtn {
  background-color: #e33e42;
  border-left: white solid 4px;
  align-items: center;
  transition: 0.3s;
  transition-timing-function: linear;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

.blueSchBtn {
  background: #338cb8;
  border-left: white solid 4px;
  align-items: center;
  transition: 0.3s;
  transition-timing-function: linear;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
}

.blueSchBtn:hover {
  background-color: #51abd7;
  color: white;
}

.redApplyBtn:hover {
  background-color: rgb(186 29 34);
}

#overlay-1 {
  display: flex;
  font-family: "overpass";
  top: 50%;
  left: 30%;
  right: 20%;
  float: left;
  width: auto;
  text-align: left;
  padding: 0.25em 22px;
  margin-bottom: 0.3em;
  background-color: black;
  max-width: 974.55px;
  max-height: 170.5px;
  opacity: 0.8;
  font-weight: 900;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 55px;
  color: white;
  position: absolute;
  z-index: 1;
}

#overlay-2 {
  font-family: "overpass", sans-serif;
  display: flex;
  color: white;
  font-size: 32px;
  justify-content: center;
  font-weight: bold;
  max-width: 297.05px;
  max-height: 55.34px;
  background-color: #e33e42;
  transition: 0.3s;
  transition-timing-function: linear;
  margin: 0px 10px 7px 0px;
  padding: 12.48px 20.8px 10.88px;
  top: 62.5%;
  left: 30%;
  right: 20%;
  z-index: 2;
  position: absolute;
}

#overlay-2:hover {
  background-color: rgb(186 29 34);
}

.card:hover,
.red-button:hover {
  background-color: #d5d4d4;
  cursor: pointer;
  transition: 0.3s;
  transition-timing-function: linear;
}

.red-button:hover {
  background-color: rgb(186 29 34);
}
